<template>
  <div>
    <h1>{{msg}}</h1>
    <h3 :class="[score >= 7 ? 'diatasKKM' : 'dibawahKKM']">Nilai : {{ score }}</h3>
  
    <div v-if="score >= 7">Berhasil, kamu keren</div>
    <div v-else>Gagal, ayo jangan patah semangat</div>
    
      
          <h4>Soal</h4>
          <div v-for="(soal, indexsoal) in questions">
            <p>{{indexsoal+1}}. {{soal.deskripsi}} </p>
            <div v-for="(pilihans, indexpiilhan) in soal.pilihan">
              <input type="radio" @click="checkAnswer(indexsoal, indexpiilhan)" :value="pilihans[0]" :name="indexsoal">
              <span v-text="pilihans[0]"></span>
            </div>
          </div>


      <h4>Jawaban Benar, </h4>
      <ul>
        <li v-for="no_soal in jawabanbenar">No. {{ no_soal+1 }}</li>
      </ul>

    


  </div>

</template>

<script>
export default {
  name: 'Ujian',
  data () {
    return {
      msg : 'Selamat Mengerjakan',
      score: 0,
      jawabanbenar : [],
      jawabansalah : [],
      questions : [
        {
          deskripsi : "Apa singkatan dari HTML ?",
          pilihan : [
            ["Hypertext Modification Language"],
            ["Hypertext Markup Language", true],
            ["Hypertemplate Markup Language"],
            ["Hypertemplate Modification Language"]
          ]
        },
        {
          deskripsi : "Orang Muslim Berpuasa pada Bulan ? ",
          pilihan : [
            ["Desember"],
            ["Puasa", true],
            ["Januari"],
            ["April"]
          ]
        },
        {
          deskripsi : "Negara Manakah yang pernah bergabung dengan Indonesia ? ",
          pilihan : [
            ["Singapore"],
            ["Malaysia"],
            ["Timor Leste", true],
            ["Papua Nugini"]
          ]
        },
        {
          deskripsi : "Apa nama Suporter dari Persib Bandung ?",
          pilihan : [
            ["Jakmania"],
            ["Bobotoh", true],
            ["Viola"],
            ["Bajul Ijo"]
          ]
        },
        {
          deskripsi : "Berapa jumlah hari dalam 1 minggu ?",
          pilihan : [
            
            ["7 hari", true],
            ["9 hari"],
            ["2 hari"],
            ["6 hari"]
          ]
        },
        {
          deskripsi : "Bersatu Kita Teguh, Bercerai Kita ...",
          pilihan : [
            ["Kawin lagi"],
            ["berpisah"],
            ["Runtuh", true],
            ["bersatu"]
          ]
        },
        {
          deskripsi : "Siapa Presiden kedua Indonesia ?",
          pilihan : [
            ["Soeharto", true],
            ["BJ. Habibie"],
            ["Prabowo"],
            ["Jokowi"]
          ]
        },
        {
          deskripsi : "angka setelah Lima ? ",
          pilihan : [
            ["Sepuluh"],
            ["Enam",true],
            ["Tujuh"],
            ["Sembilan"]
          ]
        },
        {
          deskripsi : "100 + 100 - 200",
          pilihan : [
            ["0",true],
            ["300"],
            ["200"],
            ["150"]
          ]
        },
        {
          deskripsi : "Apa Ibukota Dari Provinsi Jawa Barat ? ",
          pilihan : [
            ["Sumedang"],
            ["Depok"],
            ["Bandung",true],
            ["Banten"]
          ]
        },
      ]
    }
  },
  methods:{
    checkAnswer(indexsoal, indexpiilhan) {
      if(this.questions[indexsoal].pilihan[indexpiilhan][1]){
        if(this.jawabanbenar.indexOf(indexsoal) == -1){
          this.jawabanbenar.push(indexsoal);
        }
        if(this.jawabansalah.indexOf(indexsoal) != -1){
          this.jawabansalah.splice(this.jawabansalah.indexOf(indexsoal),1);
        }
      }else{
        if(this.jawabanbenar.indexOf(indexsoal) != -1){
          this.jawabanbenar.splice(this.jawabanbenar.indexOf(indexsoal),1);
          this.jawabansalah.push(indexsoal);
        }else if(this.jawabansalah.indexOf(indexsoal) != -1){
        }else{
          this.jawabansalah.push(indexsoal);
        }
      }
      this.score = this.jawabanbenar.length;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
